<%- include ./partials/header %>
<%- include ./partials/navbar %>
    <h1>Welcome student</h1>
    <br>
    <br>
    <h2>This is your biodata</h2>
    <br>
    <h2>Name: <%= data.name %> </h2>
    <h2>Age: <%= data.age %> </h2>
    <h2>Gender: <%= data.gender %> </h2>
    <h2>Email : <%= data.email %> </h2>


<%- include ./partials/footer.ejs %>