<%- include ./partial/header.ejs %>
<div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <% for(let i in data[0]) { %>
            <th><%=i%> </th>

          <% } %> 
        </tr>
      </thead>
      <tbody>
        <% for(let i = 0; i< data.length; i++) { %>
        <tr>
            <td><%= data[i].name %></td>
            <td><%= data[i].subject %></td>
            
          </tr>
          <% } %>
      </tbody>
    </table>
  </div>
  <%- include ./partial/footer.ejs %>
